@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<h3>Established in 2020 MidWest Skate shop was opened with the goal of supplying central Indiana with as many skateboarding supplies as possible. We are 100% skataboarder owned and operated.</h3>
