@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   622 S Range Line Rd<br />
    Carmel, IN 46032<br />
    <abbr title="Phone">P:</abbr>
    317.843.9900
</address>

<address>
    <strong>Contact Us:</strong>   <a href="#Index">MidWestSkate@example.com</a><br />
</address>