@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MidWestSkate Shop</h1>  
    <p>Hours of Operation are: <br />
    Monday-Saturday: 10AM - 6PM &<br />
    Sunday: 12PM - 5PM</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3><strong>Products</strong></h3>
        <p>
            Check out the Products
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-3">
        <h3><strong>Customers</strong></h3>
        <p>
            Customer Directory
        </p>
        @Html.ActionLink("Check Customers", "Index", "Customer", null, new { @class = "btn btn-warning btn large" })
    </div>
    <div class="col-md-3">
         <h3><strong>Transactions</strong></h3>
        <p>
            View Transactions
        </p>
        @Html.ActionLink("Check Transactions", "Index", "Transaction", null, new { @class = "btn btn-danger btn large" })
    </div>
    <div class="col-md-3">
         <h3><strong>Payments</strong></h3>
        <p>
            View Payments
        </p>
        @Html.ActionLink("View Payments", "Index", "Payment", null, new { @class = "btn btn-success btn large" })
    </div>
</div>

