


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    margin-right: 20px;
    transform: rotate(-6deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

.navbar{
    margin-bottom: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container .jumbotron {
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

img {
    vertical-align: middle;
    width: -webkit-fill-available;
}
body {
    background-color:plum;
}
